span{
  background-color: rgb(255, 98, 0);
  margin:150px;
  border-radius: 200px;
  border-radius: 45px;
}
body{
  background-color: rgb(169, 176, 231);
  text-align: center;
}
img{
  border-radius: 50px;
height: 100px;
margin-left: 67px;
width: 150px;
  
}